<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTDConfig 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
 
<configuration>
    <typeAliases>
       <typeAlias type="spring_mybatis.entry.student" alias="Student"/>
       <typeAlias type="spring_mybatis.entry.class_s" alias="Banji"/>
    </typeAliases>
</configuration>